# Read File CSV Dataset Training

In [4]:
import pandas as pd

dataset_tweet_emotion   = pd.read_csv('dataset/mentah/Dataset Label Emotion.csv')
dataset_keyword_banjir  = pd.read_csv('dataset/mentah/Dataset Label Keyword Banjir Sumatra.csv')
dataset_keyword_jokowi  = pd.read_csv('dataset/mentah/Dataset Label Keyword Jokowi.csv')
dataset_pilpres         = pd.read_csv('dataset/mentah/Dataset Label Pilpres 2024.csv')
dataset_ppkm            = pd.read_csv('dataset/mentah/Dataset Label PPKM.csv', sep=None, engine='python')

In [5]:
dataset_tweet_emotion

        label                                              tweet
0       anger  Soal jln Jatibaru,polisi tdk bs GERTAK gubernu...
1       anger  Sesama cewe lho (kayaknya), harusnya bisa lebi...
2       happy  Kepingin gudeg mbarek Bu hj. Amad Foto dari go...
3       anger  Jln Jatibaru,bagian dari wilayah Tn Abang.Peng...
4       happy  Sharing pengalaman aja, kemarin jam 18.00 bata...
...       ...                                                ...
4396     love  Tahukah kamu, bahwa saat itu papa memejamkan m...
4397     fear  Sulitnya menetapkan Calon Wapresnya Jokowi di ...
4398    anger  5. masa depannya nggak jelas. lha iya, gimana ...
4399    happy  [USERNAME] dulu beneran ada mahasiswa Teknik U...
4400  sadness  Ya Allah, hanya Engkau yang mengetahui rasa sa...

[4401 rows x 2 columns]

In [6]:
dataset_keyword_banjir

                                                  chat     rate
0    Ya Allah...mesjidnya msh bagus & lgsg bisa dim...  Positif
1    SUBHANALLAH... Sungguh beruntunglah orang2 yg ...  Positif
2    Hulu nya juga harus di perbaiki... Kalo hujan ...   Netral
3    Semoga semua rumah korban bisa dibersihkan jug...  Negatif
4    Tahun 2006, pemerintah sampai membentuk BRR Ac...  Negatif
..                                                 ...      ...
280  Kali Cengkareng dahulu setiap musim penghujan ...   Netral
281  prabowo Jika sebagai presiden, sudah saya teta...  Positif
282  Berarti selama ini ada yang ditutup-tutupi ya ...   Netral
283  Dan ada yg jlnnya  masih gontai ketika turun d...   Netral
284                 Buka akses utk bantuan asing masuk   Netral

[285 rows x 2 columns]

In [7]:
dataset_keyword_jokowi

      Unnamed: 0                                               text    Label
0              0  rt @megatop99: @conannkri @ccicpolri @mohmahfu...  positif
1              1  @jokowi harga2 pd naik gaji aparat negara gk n...  negatif
2              2  xx : kalian coba mengusir yang mau membersihka...  negatif
3              3  @jokowi haturnuhun bapak presiden @jokowi tela...   netral
4              4  @rifanrobani @catatan_ali7 @erickthohir @jokow...   netral
...          ...                                                ...      ...
1001        1001  Memang hebat orang pilihan pak @jokowi ini, lu...  positif
1002        1002  Kunjungan Kehormatan Presiden @jokowi dan Ibu ...  positif
1003        1003  Berbagai upaya dilakukan Indonesia untuk melak...  positif
1004        1004  Sebagai tindak lanjut perintah Presiden @jokow...  positif
1005        1005  Dengan memanfaat teknologi, jangan heran kalau...  positif

[1006 rows x 3 columns]

In [8]:
dataset_pilpres

,Text_Eng,Text_Ind,label
0,anies president info,informasi presiden anies,Positive
1,gerindra party politician sandiaga uno answers...,Politisi Partai Gerindra Sandaga Uno menjawab ...,Positive
2,"mr. anies continued, we will guard him until h...","Tuan Anies melanjutkan, kami akan menjaganya s...",Positive
3,may allah swt save the nation and state of the...,Semoga Allah SWT menyelamatkan bangsa dan nega...,Positive
4,"poor chotimah, uncle anies, that's why my fami...","Kasihan Chotimah, Paman Anies, itulah sebabnya...",Positive
...,...,...,...
29678,"sir, if the community always goes down, it wil...","Pak, jika komunitas selalu merosot, akan lebih...",Positive
29679,"young prabowo is really cool, bismillah sir, g...","Prabowo muda sungguh keren, bismillah Pak, ins...",Positive
29680,"basically, prabowo is great and was chosen as ...","Pada dasarnya, Prabowo hebat dan terpilih seba...",Positive
29681,optimistic about being the best figure in the ...,Bersikap optimistis menjadi tokoh terbaik dala...,Positive
29682,"the best presidential candidate, god willing, ...","Calon presiden terbaik, insya Allah, Prabowo",Positive

In [9]:
dataset_ppkm

,Date,User,Tweet,sentiment
0,2022-03-31 14:32:04+00:00,pikobar_jabar,Ketahui informasi pembagian #PPKM di wilayah J...,1
1,2022-03-31 09:26:00+00:00,inewsdotid,Tempat Ibadah di Wilayah PPKM Level 1 Boleh Be...,1
2,2022-03-31 05:02:34+00:00,vdvc_talk,"Juru bicara Satgas Covid-19, Wiku Adisasmito m...",1
3,2022-03-30 14:23:10+00:00,pikobar_jabar,Ketahui informasi pembagian #PPKM di wilayah J...,1
4,2022-03-30 11:28:57+00:00,tvOneNews,Kementerian Agama menerbitkan Surat Edaran Nom...,1
...,...,...,...,...
23639,2020-06-26 18:34:56+00:00,bananabluff,noelle loses a bet to akarsha and it somehow e...,1
23640,2020-06-19 15:14:07+00:00,Auqroix,they call her... weekeeshee...\n#butterflysoup...,1
23641,2020-06-18 23:45:26+00:00,Auqroix,"put out what you wanna see more of, amirite ga...",1
23642,2020-06-15 23:17:22+00:00,Auqroix,"i don't need anybody, i'm fine here on my own\...",1
23643,2020-05-06 04:34:13+00:00,nindiiayudya,"Selamat Siang sahabat online, nih aku sedikit ...",0

# Integration Data File Emotion Tweet to Sentiment Tweet

In [11]:
dataset_tweet_emotion

        label                                              tweet
0       anger  Soal jln Jatibaru,polisi tdk bs GERTAK gubernu...
1       anger  Sesama cewe lho (kayaknya), harusnya bisa lebi...
2       happy  Kepingin gudeg mbarek Bu hj. Amad Foto dari go...
3       anger  Jln Jatibaru,bagian dari wilayah Tn Abang.Peng...
4       happy  Sharing pengalaman aja, kemarin jam 18.00 bata...
...       ...                                                ...
4396     love  Tahukah kamu, bahwa saat itu papa memejamkan m...
4397     fear  Sulitnya menetapkan Calon Wapresnya Jokowi di ...
4398    anger  5. masa depannya nggak jelas. lha iya, gimana ...
4399    happy  [USERNAME] dulu beneran ada mahasiswa Teknik U...
4400  sadness  Ya Allah, hanya Engkau yang mengetahui rasa sa...

[4401 rows x 2 columns]

In [12]:
# rename column

dataset_tweet_emotion = dataset_tweet_emotion[['tweet','label']].rename(columns={'tweet':'Tweet'})
dataset_tweet_emotion

                                                  Tweet    label
0     Soal jln Jatibaru,polisi tdk bs GERTAK gubernu...    anger
1     Sesama cewe lho (kayaknya), harusnya bisa lebi...    anger
2     Kepingin gudeg mbarek Bu hj. Amad Foto dari go...    happy
3     Jln Jatibaru,bagian dari wilayah Tn Abang.Peng...    anger
4     Sharing pengalaman aja, kemarin jam 18.00 bata...    happy
...                                                 ...      ...
4396  Tahukah kamu, bahwa saat itu papa memejamkan m...     love
4397  Sulitnya menetapkan Calon Wapresnya Jokowi di ...     fear
4398  5. masa depannya nggak jelas. lha iya, gimana ...    anger
4399  [USERNAME] dulu beneran ada mahasiswa Teknik U...    happy
4400  Ya Allah, hanya Engkau yang mengetahui rasa sa...  sadness

[4401 rows x 2 columns]

In [13]:
# mapping emotion to sentiment

emotion_to_sentiment = {
    'happy': 'positive',
    'love': 'positive',
    'anger': 'negative',
    'sadness': 'negative',
    'fear': 'negative'
}

# change label emotion to sentiment
dataset_tweet_emotion['label'] = dataset_tweet_emotion['label'].map(emotion_to_sentiment)
dataset_tweet_emotion

                                                  Tweet     label
0     Soal jln Jatibaru,polisi tdk bs GERTAK gubernu...  negative
1     Sesama cewe lho (kayaknya), harusnya bisa lebi...  negative
2     Kepingin gudeg mbarek Bu hj. Amad Foto dari go...  positive
3     Jln Jatibaru,bagian dari wilayah Tn Abang.Peng...  negative
4     Sharing pengalaman aja, kemarin jam 18.00 bata...  positive
...                                                 ...       ...
4396  Tahukah kamu, bahwa saat itu papa memejamkan m...  positive
4397  Sulitnya menetapkan Calon Wapresnya Jokowi di ...  negative
4398  5. masa depannya nggak jelas. lha iya, gimana ...  negative
4399  [USERNAME] dulu beneran ada mahasiswa Teknik U...  positive
4400  Ya Allah, hanya Engkau yang mengetahui rasa sa...  negative

[4401 rows x 2 columns]

# Integration Data File Tweet Banjir Sumatra

In [14]:
dataset_keyword_banjir

                                                  chat     rate
0    Ya Allah...mesjidnya msh bagus & lgsg bisa dim...  Positif
1    SUBHANALLAH... Sungguh beruntunglah orang2 yg ...  Positif
2    Hulu nya juga harus di perbaiki... Kalo hujan ...   Netral
3    Semoga semua rumah korban bisa dibersihkan jug...  Negatif
4    Tahun 2006, pemerintah sampai membentuk BRR Ac...  Negatif
..                                                 ...      ...
280  Kali Cengkareng dahulu setiap musim penghujan ...   Netral
281  prabowo Jika sebagai presiden, sudah saya teta...  Positif
282  Berarti selama ini ada yang ditutup-tutupi ya ...   Netral
283  Dan ada yg jlnnya  masih gontai ketika turun d...   Netral
284                 Buka akses utk bantuan asing masuk   Netral

[285 rows x 2 columns]

In [15]:
# rename column chat and rate

dataset_keyword_banjir = dataset_keyword_banjir[['chat','rate']].rename(columns={'chat':'Tweet',
                                                                             'rate' : 'label'})
dataset_keyword_banjir

                                                 Tweet    label
0    Ya Allah...mesjidnya msh bagus & lgsg bisa dim...  Positif
1    SUBHANALLAH... Sungguh beruntunglah orang2 yg ...  Positif
2    Hulu nya juga harus di perbaiki... Kalo hujan ...   Netral
3    Semoga semua rumah korban bisa dibersihkan jug...  Negatif
4    Tahun 2006, pemerintah sampai membentuk BRR Ac...  Negatif
..                                                 ...      ...
280  Kali Cengkareng dahulu setiap musim penghujan ...   Netral
281  prabowo Jika sebagai presiden, sudah saya teta...  Positif
282  Berarti selama ini ada yang ditutup-tutupi ya ...   Netral
283  Dan ada yg jlnnya  masih gontai ketika turun d...   Netral
284                 Buka akses utk bantuan asing masuk   Netral

[285 rows x 2 columns]

In [16]:
# mapping lowercase label

rename_lowecase_label = {
    'Positif': 'positive',
    'Netral': 'neutral',
    'Negatif': 'negative',
}

# rename lowercase label
dataset_keyword_banjir['label'] = dataset_keyword_banjir['label'].map(rename_lowecase_label)
dataset_keyword_banjir

                                                 Tweet     label
0    Ya Allah...mesjidnya msh bagus & lgsg bisa dim...  positive
1    SUBHANALLAH... Sungguh beruntunglah orang2 yg ...  positive
2    Hulu nya juga harus di perbaiki... Kalo hujan ...   neutral
3    Semoga semua rumah korban bisa dibersihkan jug...  negative
4    Tahun 2006, pemerintah sampai membentuk BRR Ac...  negative
..                                                 ...       ...
280  Kali Cengkareng dahulu setiap musim penghujan ...   neutral
281  prabowo Jika sebagai presiden, sudah saya teta...  positive
282  Berarti selama ini ada yang ditutup-tutupi ya ...   neutral
283  Dan ada yg jlnnya  masih gontai ketika turun d...   neutral
284                 Buka akses utk bantuan asing masuk   neutral

[285 rows x 2 columns]

# Integration Data File Tweet Keyword Jokowi

In [17]:
dataset_keyword_jokowi

      Unnamed: 0                                               text    Label
0              0  rt @megatop99: @conannkri @ccicpolri @mohmahfu...  positif
1              1  @jokowi harga2 pd naik gaji aparat negara gk n...  negatif
2              2  xx : kalian coba mengusir yang mau membersihka...  negatif
3              3  @jokowi haturnuhun bapak presiden @jokowi tela...   netral
4              4  @rifanrobani @catatan_ali7 @erickthohir @jokow...   netral
...          ...                                                ...      ...
1001        1001  Memang hebat orang pilihan pak @jokowi ini, lu...  positif
1002        1002  Kunjungan Kehormatan Presiden @jokowi dan Ibu ...  positif
1003        1003  Berbagai upaya dilakukan Indonesia untuk melak...  positif
1004        1004  Sebagai tindak lanjut perintah Presiden @jokow...  positif
1005        1005  Dengan memanfaat teknologi, jangan heran kalau...  positif

[1006 rows x 3 columns]

In [18]:
# rename column text and label

dataset_keyword_jokowi = dataset_keyword_jokowi[['text','Label']].rename(columns={'text':'Tweet',
                                                                             'Label' : 'label'})
dataset_keyword_jokowi

                                                  Tweet    label
0     rt @megatop99: @conannkri @ccicpolri @mohmahfu...  positif
1     @jokowi harga2 pd naik gaji aparat negara gk n...  negatif
2     xx : kalian coba mengusir yang mau membersihka...  negatif
3     @jokowi haturnuhun bapak presiden @jokowi tela...   netral
4     @rifanrobani @catatan_ali7 @erickthohir @jokow...   netral
...                                                 ...      ...
1001  Memang hebat orang pilihan pak @jokowi ini, lu...  positif
1002  Kunjungan Kehormatan Presiden @jokowi dan Ibu ...  positif
1003  Berbagai upaya dilakukan Indonesia untuk melak...  positif
1004  Sebagai tindak lanjut perintah Presiden @jokow...  positif
1005  Dengan memanfaat teknologi, jangan heran kalau...  positif

[1006 rows x 2 columns]

In [31]:
# count label

dataset_keyword_jokowi['label'].value_counts()

label
positif     373
negatif     372
netral      254
negartif      2
netr          2
Negatif       1
positi        1
Name: count, dtype: int64

In [33]:
# mapping label

mapping_typo_label_dataset_keyword_jokowi = {
    'positif'       : 'positive',
    'positi'        : 'positive',
    'netral'        : 'neutral',
    'netr'          : 'neutral',
    'negatif'       : 'negative',
    'negartif'      : 'negative',
    'Negatif'       : 'negative',
}

# rename lowercase label
dataset_keyword_jokowi['label'] = dataset_keyword_jokowi['label'].map(mapping_typo_label_dataset_keyword_jokowi)
dataset_keyword_jokowi

                                                  Tweet     label
0     rt @megatop99: @conannkri @ccicpolri @mohmahfu...  positive
1     @jokowi harga2 pd naik gaji aparat negara gk n...  negative
2     xx : kalian coba mengusir yang mau membersihka...  negative
3     @jokowi haturnuhun bapak presiden @jokowi tela...   neutral
4     @rifanrobani @catatan_ali7 @erickthohir @jokow...   neutral
...                                                 ...       ...
1001  Memang hebat orang pilihan pak @jokowi ini, lu...  positive
1002  Kunjungan Kehormatan Presiden @jokowi dan Ibu ...  positive
1003  Berbagai upaya dilakukan Indonesia untuk melak...  positive
1004  Sebagai tindak lanjut perintah Presiden @jokow...  positive
1005  Dengan memanfaat teknologi, jangan heran kalau...  positive

[1006 rows x 2 columns]

In [34]:
# count label

dataset_keyword_jokowi['label'].value_counts()

label
negative    375
positive    374
neutral     256
Name: count, dtype: int64

# Integration Data File Tweet Pilpres 2024

In [19]:
dataset_pilpres

,Text_Eng,Text_Ind,label
0,anies president info,informasi presiden anies,Positive
1,gerindra party politician sandiaga uno answers...,Politisi Partai Gerindra Sandaga Uno menjawab ...,Positive
2,"mr. anies continued, we will guard him until h...","Tuan Anies melanjutkan, kami akan menjaganya s...",Positive
3,may allah swt save the nation and state of the...,Semoga Allah SWT menyelamatkan bangsa dan nega...,Positive
4,"poor chotimah, uncle anies, that's why my fami...","Kasihan Chotimah, Paman Anies, itulah sebabnya...",Positive
...,...,...,...
29678,"sir, if the community always goes down, it wil...","Pak, jika komunitas selalu merosot, akan lebih...",Positive
29679,"young prabowo is really cool, bismillah sir, g...","Prabowo muda sungguh keren, bismillah Pak, ins...",Positive
29680,"basically, prabowo is great and was chosen as ...","Pada dasarnya, Prabowo hebat dan terpilih seba...",Positive
29681,optimistic about being the best figure in the ...,Bersikap optimistis menjadi tokoh terbaik dala...,Positive
29682,"the best presidential candidate, god willing, ...","Calon presiden terbaik, insya Allah, Prabowo",Positive

In [21]:
# drop coloumn Text_Eng

dataset_pilpres.drop(columns=["Text_Eng"], inplace=True)

# rename column Text_Ind to Tweet
dataset_pilpres.rename(columns={"Text_Ind": "Tweet"}, inplace=True)

dataset_pilpres

                                                   Tweet     label
0                               informasi presiden anies  Positive
1      Politisi Partai Gerindra Sandaga Uno menjawab ...  Positive
2      Tuan Anies melanjutkan, kami akan menjaganya s...  Positive
3      Semoga Allah SWT menyelamatkan bangsa dan nega...  Positive
4      Kasihan Chotimah, Paman Anies, itulah sebabnya...  Positive
...                                                  ...       ...
29678  Pak, jika komunitas selalu merosot, akan lebih...  Positive
29679  Prabowo muda sungguh keren, bismillah Pak, ins...  Positive
29680  Pada dasarnya, Prabowo hebat dan terpilih seba...  Positive
29681  Bersikap optimistis menjadi tokoh terbaik dala...  Positive
29682       Calon presiden terbaik, insya Allah, Prabowo  Positive

[29683 rows x 2 columns]

In [22]:
# count label 

label_counts_dataset_pilpres = dataset_pilpres['label'].value_counts()
label_counts_dataset_pilpres

label
Positive    21612
Negative     8068
Name: count, dtype: int64

In [35]:
# mapping label typo

mapping_typo_label_dataset_pilpres = {
    'Positive': 'positive',
    'Negative': 'negative',
}

# rename lowercase label
dataset_pilpres['label'] = dataset_pilpres['label'].map(mapping_typo_label_dataset_pilpres)
dataset_pilpres

                                                   Tweet     label
0                               informasi presiden anies  positive
1      Politisi Partai Gerindra Sandaga Uno menjawab ...  positive
2      Tuan Anies melanjutkan, kami akan menjaganya s...  positive
3      Semoga Allah SWT menyelamatkan bangsa dan nega...  positive
4      Kasihan Chotimah, Paman Anies, itulah sebabnya...  positive
...                                                  ...       ...
29678  Pak, jika komunitas selalu merosot, akan lebih...  positive
29679  Prabowo muda sungguh keren, bismillah Pak, ins...  positive
29680  Pada dasarnya, Prabowo hebat dan terpilih seba...  positive
29681  Bersikap optimistis menjadi tokoh terbaik dala...  positive
29682       Calon presiden terbaik, insya Allah, Prabowo  positive

[29683 rows x 2 columns]

In [36]:
# count label 

label_counts_dataset_pilpres = dataset_pilpres['label'].value_counts()
label_counts_dataset_pilpres

label
positive    21612
negative     8068
Name: count, dtype: int64

# Integration Data File Tweet PPKM from Sentiment Label Number to Text

In [23]:
dataset_ppkm

,Date,User,Tweet,sentiment
0,2022-03-31 14:32:04+00:00,pikobar_jabar,Ketahui informasi pembagian #PPKM di wilayah J...,1
1,2022-03-31 09:26:00+00:00,inewsdotid,Tempat Ibadah di Wilayah PPKM Level 1 Boleh Be...,1
2,2022-03-31 05:02:34+00:00,vdvc_talk,"Juru bicara Satgas Covid-19, Wiku Adisasmito m...",1
3,2022-03-30 14:23:10+00:00,pikobar_jabar,Ketahui informasi pembagian #PPKM di wilayah J...,1
4,2022-03-30 11:28:57+00:00,tvOneNews,Kementerian Agama menerbitkan Surat Edaran Nom...,1
...,...,...,...,...
23639,2020-06-26 18:34:56+00:00,bananabluff,noelle loses a bet to akarsha and it somehow e...,1
23640,2020-06-19 15:14:07+00:00,Auqroix,they call her... weekeeshee...\n#butterflysoup...,1
23641,2020-06-18 23:45:26+00:00,Auqroix,"put out what you wanna see more of, amirite ga...",1
23642,2020-06-15 23:17:22+00:00,Auqroix,"i don't need anybody, i'm fine here on my own\...",1
23643,2020-05-06 04:34:13+00:00,nindiiayudya,"Selamat Siang sahabat online, nih aku sedikit ...",0

In [24]:
# drop coloumn date and user

dataset_ppkm.drop(columns=["Date", "User"], inplace=True)

# rename column sentiment to label
dataset_ppkm.rename(columns={"sentiment": "label"}, inplace=True)

dataset_ppkm

                                                   Tweet  label
0      Ketahui informasi pembagian #PPKM di wilayah J...      1
1      Tempat Ibadah di Wilayah PPKM Level 1 Boleh Be...      1
2      Juru bicara Satgas Covid-19, Wiku Adisasmito m...      1
3      Ketahui informasi pembagian #PPKM di wilayah J...      1
4      Kementerian Agama menerbitkan Surat Edaran Nom...      1
...                                                  ...    ...
23639  noelle loses a bet to akarsha and it somehow e...      1
23640  they call her... weekeeshee...\n#butterflysoup...      1
23641  put out what you wanna see more of, amirite ga...      1
23642  i don't need anybody, i'm fine here on my own\...      1
23643  Selamat Siang sahabat online, nih aku sedikit ...      0

[23644 rows x 2 columns]

In [25]:
# mapping number label sentiment to text label sentiment

number_to_sentiment = {
    0: 'positive',
    1: 'neutral',
    2: 'negative'
}

# change number label sentiment to text label sentiment

dataset_ppkm['label'] = dataset_ppkm['label'].map(number_to_sentiment)
dataset_ppkm

                                                   Tweet     label
0      Ketahui informasi pembagian #PPKM di wilayah J...   neutral
1      Tempat Ibadah di Wilayah PPKM Level 1 Boleh Be...   neutral
2      Juru bicara Satgas Covid-19, Wiku Adisasmito m...   neutral
3      Ketahui informasi pembagian #PPKM di wilayah J...   neutral
4      Kementerian Agama menerbitkan Surat Edaran Nom...   neutral
...                                                  ...       ...
23639  noelle loses a bet to akarsha and it somehow e...   neutral
23640  they call her... weekeeshee...\n#butterflysoup...   neutral
23641  put out what you wanna see more of, amirite ga...   neutral
23642  i don't need anybody, i'm fine here on my own\...   neutral
23643  Selamat Siang sahabat online, nih aku sedikit ...  positive

[23644 rows x 2 columns]

# Merge DataFrame 1, 2, 3, 4, 5

In [37]:
# merge dataframe 

dataset_training = pd.concat([dataset_tweet_emotion, dataset_keyword_banjir, dataset_keyword_jokowi, dataset_pilpres, dataset_ppkm], ignore_index=True)
dataset_training

                                                   Tweet     label
0      Soal jln Jatibaru,polisi tdk bs GERTAK gubernu...  negative
1      Sesama cewe lho (kayaknya), harusnya bisa lebi...  negative
2      Kepingin gudeg mbarek Bu hj. Amad Foto dari go...  positive
3      Jln Jatibaru,bagian dari wilayah Tn Abang.Peng...  negative
4      Sharing pengalaman aja, kemarin jam 18.00 bata...  positive
...                                                  ...       ...
59014  noelle loses a bet to akarsha and it somehow e...   neutral
59015  they call her... weekeeshee...\n#butterflysoup...   neutral
59016  put out what you wanna see more of, amirite ga...   neutral
59017  i don't need anybody, i'm fine here on my own\...   neutral
59018  Selamat Siang sahabat online, nih aku sedikit ...  positive

[59019 rows x 2 columns]

In [38]:
# count label
dataset_training['label'].value_counts()

label
positive    25679
neutral     18038
negative    15298
Name: count, dtype: int64

# Save DataFrame dataset_training to CSV

In [39]:
dataset_training.to_csv('dataset_training.csv', index=False)