In [4]:
import sys 
!{sys.executable} -m pip install pandas

Collecting pandas
  Using cached pandas-3.0.0-cp314-cp314-win_amd64.whl.metadata (19 kB)
Collecting numpy>=2.3.3 (from pandas)
  Using cached numpy-2.4.1-cp314-cp314-win_amd64.whl.metadata (6.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\roaming\python\python314\site-packages (from pandas) (2.9.0.post0)
Collecting tzdata (from pandas)
  Using cached tzdata-2025.3-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\roaming\python\python314\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-3.0.0-cp314-cp314-win_amd64.whl (9.9 MB)
Using cached numpy-2.4.1-cp314-cp314-win_amd64.whl (12.4 MB)
Using cached tzdata-2025.3-py2.py3-none-any.whl (348 kB)
Installing collected packages: tzdata, numpy, pandas

   ---------------------------------------- 0/3 [tzdata]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   ---------------------------------------- 3/3 [pandas]

Successfully installed numpy-2.4.1 pandas-3.0.0 tzdata-2025.3

  WARNING: The scripts f2py.exe and numpy-config.exe are installed in 'c:\Users\HP\AppData\Local\Python\pythoncore-3.14-64\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

# Read file csv data training

In [37]:
# read file csv
import pandas as pd


dataset_emotion_tweet = pd.read_csv('Twitter_Emotion_Dataset.csv')
dataset_tweet_banjir = pd.read_csv('data_twitter.csv')
dataset_tweet_ppkm = pd.read_csv('INA_TweetsPPKM_Labeled_Pure.csv', sep=None, engine='python')

In [38]:
dataset_tweet_banjir

                                                  chat     rate
0    Ya Allah...mesjidnya msh bagus & lgsg bisa dim...  Positif
1    SUBHANALLAH... Sungguh beruntunglah orang2 yg ...  Positif
2    Hulu nya juga harus di perbaiki... Kalo hujan ...   Netral
3    Semoga semua rumah korban bisa dibersihkan jug...  Negatif
4    Tahun 2006, pemerintah sampai membentuk BRR Ac...  Negatif
..                                                 ...      ...
280  Kali Cengkareng dahulu setiap musim penghujan ...   Netral
281  prabowo Jika sebagai presiden, sudah saya teta...  Positif
282  Berarti selama ini ada yang ditutup-tutupi ya ...   Netral
283  Dan ada yg jlnnya  masih gontai ketika turun d...   Netral
284                 Buka akses utk bantuan asing masuk   Netral

[285 rows x 2 columns]

In [39]:
dataset_emotion_tweet

        label                                              tweet
0       anger  Soal jln Jatibaru,polisi tdk bs GERTAK gubernu...
1       anger  Sesama cewe lho (kayaknya), harusnya bisa lebi...
2       happy  Kepingin gudeg mbarek Bu hj. Amad Foto dari go...
3       anger  Jln Jatibaru,bagian dari wilayah Tn Abang.Peng...
4       happy  Sharing pengalaman aja, kemarin jam 18.00 bata...
...       ...                                                ...
4396     love  Tahukah kamu, bahwa saat itu papa memejamkan m...
4397     fear  Sulitnya menetapkan Calon Wapresnya Jokowi di ...
4398    anger  5. masa depannya nggak jelas. lha iya, gimana ...
4399    happy  [USERNAME] dulu beneran ada mahasiswa Teknik U...
4400  sadness  Ya Allah, hanya Engkau yang mengetahui rasa sa...

[4401 rows x 2 columns]

In [40]:
dataset_tweet_ppkm

,Date,User,Tweet,sentiment
0,2022-03-31 14:32:04+00:00,pikobar_jabar,Ketahui informasi pembagian #PPKM di wilayah J...,1
1,2022-03-31 09:26:00+00:00,inewsdotid,Tempat Ibadah di Wilayah PPKM Level 1 Boleh Be...,1
2,2022-03-31 05:02:34+00:00,vdvc_talk,"Juru bicara Satgas Covid-19, Wiku Adisasmito m...",1
3,2022-03-30 14:23:10+00:00,pikobar_jabar,Ketahui informasi pembagian #PPKM di wilayah J...,1
4,2022-03-30 11:28:57+00:00,tvOneNews,Kementerian Agama menerbitkan Surat Edaran Nom...,1
...,...,...,...,...
23639,2020-06-26 18:34:56+00:00,bananabluff,noelle loses a bet to akarsha and it somehow e...,1
23640,2020-06-19 15:14:07+00:00,Auqroix,they call her... weekeeshee...\n#butterflysoup...,1
23641,2020-06-18 23:45:26+00:00,Auqroix,"put out what you wanna see more of, amirite ga...",1
23642,2020-06-15 23:17:22+00:00,Auqroix,"i don't need anybody, i'm fine here on my own\...",1
23643,2020-05-06 04:34:13+00:00,nindiiayudya,"Selamat Siang sahabat online, nih aku sedikit ...",0

# Integration Data File Emotion Tweet to Sentiment Tweet

In [41]:
dataset_emotion_tweet

        label                                              tweet
0       anger  Soal jln Jatibaru,polisi tdk bs GERTAK gubernu...
1       anger  Sesama cewe lho (kayaknya), harusnya bisa lebi...
2       happy  Kepingin gudeg mbarek Bu hj. Amad Foto dari go...
3       anger  Jln Jatibaru,bagian dari wilayah Tn Abang.Peng...
4       happy  Sharing pengalaman aja, kemarin jam 18.00 bata...
...       ...                                                ...
4396     love  Tahukah kamu, bahwa saat itu papa memejamkan m...
4397     fear  Sulitnya menetapkan Calon Wapresnya Jokowi di ...
4398    anger  5. masa depannya nggak jelas. lha iya, gimana ...
4399    happy  [USERNAME] dulu beneran ada mahasiswa Teknik U...
4400  sadness  Ya Allah, hanya Engkau yang mengetahui rasa sa...

[4401 rows x 2 columns]

In [42]:
# rename column

dataset_emotion_tweet = dataset_emotion_tweet[['tweet','label']].rename(columns={'tweet':'Tweet'})
dataset_emotion_tweet

                                                  Tweet    label
0     Soal jln Jatibaru,polisi tdk bs GERTAK gubernu...    anger
1     Sesama cewe lho (kayaknya), harusnya bisa lebi...    anger
2     Kepingin gudeg mbarek Bu hj. Amad Foto dari go...    happy
3     Jln Jatibaru,bagian dari wilayah Tn Abang.Peng...    anger
4     Sharing pengalaman aja, kemarin jam 18.00 bata...    happy
...                                                 ...      ...
4396  Tahukah kamu, bahwa saat itu papa memejamkan m...     love
4397  Sulitnya menetapkan Calon Wapresnya Jokowi di ...     fear
4398  5. masa depannya nggak jelas. lha iya, gimana ...    anger
4399  [USERNAME] dulu beneran ada mahasiswa Teknik U...    happy
4400  Ya Allah, hanya Engkau yang mengetahui rasa sa...  sadness

[4401 rows x 2 columns]

In [43]:
# mapping emotion to sentiment

emotion_to_sentiment = {
    'happy': 'positive',
    'love': 'positive',
    'anger': 'negative',
    'sadness': 'negative',
    'fear': 'negative'
}

# change label emotion to sentiment
dataset_emotion_tweet['label'] = dataset_emotion_tweet['label'].map(emotion_to_sentiment)
dataset_emotion_tweet

                                                  Tweet     label
0     Soal jln Jatibaru,polisi tdk bs GERTAK gubernu...  negative
1     Sesama cewe lho (kayaknya), harusnya bisa lebi...  negative
2     Kepingin gudeg mbarek Bu hj. Amad Foto dari go...  positive
3     Jln Jatibaru,bagian dari wilayah Tn Abang.Peng...  negative
4     Sharing pengalaman aja, kemarin jam 18.00 bata...  positive
...                                                 ...       ...
4396  Tahukah kamu, bahwa saat itu papa memejamkan m...  positive
4397  Sulitnya menetapkan Calon Wapresnya Jokowi di ...  negative
4398  5. masa depannya nggak jelas. lha iya, gimana ...  negative
4399  [USERNAME] dulu beneran ada mahasiswa Teknik U...  positive
4400  Ya Allah, hanya Engkau yang mengetahui rasa sa...  negative

[4401 rows x 2 columns]

# Integration Data File Tweet PPKM from Sentiment Label Number to Text

In [44]:
dataset_tweet_ppkm

,Date,User,Tweet,sentiment
0,2022-03-31 14:32:04+00:00,pikobar_jabar,Ketahui informasi pembagian #PPKM di wilayah J...,1
1,2022-03-31 09:26:00+00:00,inewsdotid,Tempat Ibadah di Wilayah PPKM Level 1 Boleh Be...,1
2,2022-03-31 05:02:34+00:00,vdvc_talk,"Juru bicara Satgas Covid-19, Wiku Adisasmito m...",1
3,2022-03-30 14:23:10+00:00,pikobar_jabar,Ketahui informasi pembagian #PPKM di wilayah J...,1
4,2022-03-30 11:28:57+00:00,tvOneNews,Kementerian Agama menerbitkan Surat Edaran Nom...,1
...,...,...,...,...
23639,2020-06-26 18:34:56+00:00,bananabluff,noelle loses a bet to akarsha and it somehow e...,1
23640,2020-06-19 15:14:07+00:00,Auqroix,they call her... weekeeshee...\n#butterflysoup...,1
23641,2020-06-18 23:45:26+00:00,Auqroix,"put out what you wanna see more of, amirite ga...",1
23642,2020-06-15 23:17:22+00:00,Auqroix,"i don't need anybody, i'm fine here on my own\...",1
23643,2020-05-06 04:34:13+00:00,nindiiayudya,"Selamat Siang sahabat online, nih aku sedikit ...",0

In [45]:
# drop coloumn date and user

dataset_tweet_ppkm.drop(columns=["Date", "User"], inplace=True)

# rename column sentiment to label
dataset_tweet_ppkm.rename(columns={"sentiment": "label"}, inplace=True)

dataset_tweet_ppkm

                                                   Tweet  label
0      Ketahui informasi pembagian #PPKM di wilayah J...      1
1      Tempat Ibadah di Wilayah PPKM Level 1 Boleh Be...      1
2      Juru bicara Satgas Covid-19, Wiku Adisasmito m...      1
3      Ketahui informasi pembagian #PPKM di wilayah J...      1
4      Kementerian Agama menerbitkan Surat Edaran Nom...      1
...                                                  ...    ...
23639  noelle loses a bet to akarsha and it somehow e...      1
23640  they call her... weekeeshee...\n#butterflysoup...      1
23641  put out what you wanna see more of, amirite ga...      1
23642  i don't need anybody, i'm fine here on my own\...      1
23643  Selamat Siang sahabat online, nih aku sedikit ...      0

[23644 rows x 2 columns]

In [46]:
# count label 

label_counts = dataset_tweet_ppkm['label'].value_counts()
label_counts

label
1    17706
2     3980
0     1958
Name: count, dtype: int64

In [47]:
# Mengambil 70% dari baris dengan label 'neutral'

neutral_rows = dataset_tweet_ppkm[dataset_tweet_ppkm['label'] == 1]
reduced_neutral_rows = neutral_rows.sample(n=int(len(neutral_rows)*0.3), random_state=1)

# Mengambil semua baris dengan label selain 'neutral'

other_rows = dataset_tweet_ppkm[dataset_tweet_ppkm['label'] != 1]

# Menggabungkan baris yang telah direduksi dengan baris lainnya

dataset_tweet_ppkm = pd.concat([other_rows, reduced_neutral_rows])

dataset_tweet_ppkm

                                                   Tweet  label
33     Karena stimulasi untuk #anakberkebutuhankhusus...      2
35     Hadir Kembali Boss!! MEGA WIN Dari https://t.c...      0
44     Hayolohhhhhhhhh... seneng kannnn??\n\n#covid19...      0
47     Thank You teman-teman dari #saganheritagehotel...      0
51     Ruwet Ruwet Ruwet inilah Negeri RuwetNesia. He...      0
...                                                  ...    ...
5643   Satpol PP Sidak Pelaksanaan Sekolah Tatap Muka...      1
17877  Perlakuan Petugas PPKM Darurat ke Paspamres Da...      1
12817  Jadi di perpanjang atau stop sampai hari ini s...      1
4932   Polres Kepulauan Seribu Terus bagikan masker d...      1
23334  Pedagang Tak Patuh PPKM, Bupati Rembang Ancam ...      1

[11249 rows x 2 columns]

In [ ]:
# mapping number label sentiment to text label sentiment

number_to_sentiment = {
    0: 'positive',
    1: 'neutral',
    2: 'negative'
}

# change number label sentiment to text label sentiment

dataset_tweet_ppkm['label'] = dataset_tweet_ppkm['label'].map(number_to_sentiment)
dataset_tweet_ppkm

                                                   Tweet     label
33     Karena stimulasi untuk #anakberkebutuhankhusus...  negative
35     Hadir Kembali Boss!! MEGA WIN Dari https://t.c...  positive
44     Hayolohhhhhhhhh... seneng kannnn??\n\n#covid19...  positive
47     Thank You teman-teman dari #saganheritagehotel...  positive
51     Ruwet Ruwet Ruwet inilah Negeri RuwetNesia. He...  positive
...                                                  ...       ...
5643   Satpol PP Sidak Pelaksanaan Sekolah Tatap Muka...   neutral
17877  Perlakuan Petugas PPKM Darurat ke Paspamres Da...   neutral
12817  Jadi di perpanjang atau stop sampai hari ini s...   neutral
4932   Polres Kepulauan Seribu Terus bagikan masker d...   neutral
23334  Pedagang Tak Patuh PPKM, Bupati Rembang Ancam ...   neutral

[11249 rows x 2 columns]

# Integration Data File Tweet Banjir Sumatra

In [49]:
dataset_tweet_banjir

                                                  chat     rate
0    Ya Allah...mesjidnya msh bagus & lgsg bisa dim...  Positif
1    SUBHANALLAH... Sungguh beruntunglah orang2 yg ...  Positif
2    Hulu nya juga harus di perbaiki... Kalo hujan ...   Netral
3    Semoga semua rumah korban bisa dibersihkan jug...  Negatif
4    Tahun 2006, pemerintah sampai membentuk BRR Ac...  Negatif
..                                                 ...      ...
280  Kali Cengkareng dahulu setiap musim penghujan ...   Netral
281  prabowo Jika sebagai presiden, sudah saya teta...  Positif
282  Berarti selama ini ada yang ditutup-tutupi ya ...   Netral
283  Dan ada yg jlnnya  masih gontai ketika turun d...   Netral
284                 Buka akses utk bantuan asing masuk   Netral

[285 rows x 2 columns]

In [50]:
# rename column chat and rate

dataset_tweet_banjir = dataset_tweet_banjir[['chat','rate']].rename(columns={'chat':'Tweet',
                                                                             'rate' : 'label'})
dataset_tweet_banjir

                                                 Tweet    label
0    Ya Allah...mesjidnya msh bagus & lgsg bisa dim...  Positif
1    SUBHANALLAH... Sungguh beruntunglah orang2 yg ...  Positif
2    Hulu nya juga harus di perbaiki... Kalo hujan ...   Netral
3    Semoga semua rumah korban bisa dibersihkan jug...  Negatif
4    Tahun 2006, pemerintah sampai membentuk BRR Ac...  Negatif
..                                                 ...      ...
280  Kali Cengkareng dahulu setiap musim penghujan ...   Netral
281  prabowo Jika sebagai presiden, sudah saya teta...  Positif
282  Berarti selama ini ada yang ditutup-tutupi ya ...   Netral
283  Dan ada yg jlnnya  masih gontai ketika turun d...   Netral
284                 Buka akses utk bantuan asing masuk   Netral

[285 rows x 2 columns]

In [51]:
# mapping lowercase label

rename_lowecase_label = {
    'Positif': 'positive',
    'Netral': 'neutral',
    'Negatif': 'negative',
}

# rename lowercase label
dataset_tweet_banjir['label'] = dataset_tweet_banjir['label'].map(rename_lowecase_label)
dataset_tweet_banjir

                                                 Tweet     label
0    Ya Allah...mesjidnya msh bagus & lgsg bisa dim...  positive
1    SUBHANALLAH... Sungguh beruntunglah orang2 yg ...  positive
2    Hulu nya juga harus di perbaiki... Kalo hujan ...   neutral
3    Semoga semua rumah korban bisa dibersihkan jug...  negative
4    Tahun 2006, pemerintah sampai membentuk BRR Ac...  negative
..                                                 ...       ...
280  Kali Cengkareng dahulu setiap musim penghujan ...   neutral
281  prabowo Jika sebagai presiden, sudah saya teta...  positive
282  Berarti selama ini ada yang ditutup-tutupi ya ...   neutral
283  Dan ada yg jlnnya  masih gontai ketika turun d...   neutral
284                 Buka akses utk bantuan asing masuk   neutral

[285 rows x 2 columns]

# Merge dataframe 1, 2, 3

In [52]:
# merge dataframe 

dataset_training = pd.concat([dataset_emotion_tweet, dataset_tweet_ppkm, dataset_tweet_banjir], ignore_index=True)
dataset_training

                                                   Tweet     label
0      Soal jln Jatibaru,polisi tdk bs GERTAK gubernu...  negative
1      Sesama cewe lho (kayaknya), harusnya bisa lebi...  negative
2      Kepingin gudeg mbarek Bu hj. Amad Foto dari go...  positive
3      Jln Jatibaru,bagian dari wilayah Tn Abang.Peng...  negative
4      Sharing pengalaman aja, kemarin jam 18.00 bata...  positive
...                                                  ...       ...
15930  Kali Cengkareng dahulu setiap musim penghujan ...   neutral
15931  prabowo Jika sebagai presiden, sudah saya teta...  positive
15932  Berarti selama ini ada yang ditutup-tutupi ya ...   neutral
15933  Dan ada yg jlnnya  masih gontai ketika turun d...   neutral
15934                 Buka akses utk bantuan asing masuk   neutral

[15935 rows x 2 columns]

In [53]:
# count label
dataset_training['label'].value_counts()

label
negative    6855
neutral     5387
positive    3693
Name: count, dtype: int64

# Save DataFrame dataset_training to CSV

In [54]:
dataset_training.to_csv('dataset_training.csv', index=False)